services:
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fitbit
    ports:
      - "6543:5432"
    volumes:
      - ./data/timescaledb:/var/lib/postgresql/data