services:
  ingestion:
    build:
      context: .
      dockerfile: ./ingestion/Dockerfile
    container_name: python-cron
    volumes:
      - ./data/ingestion_state:/app/data/ingestion_state/
    depends_on:
      - timescaledb:

  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    restart: unless-stopped
    ports:
      - "6543:5432"
    volumes: 
      - ./data/timescaledb:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - .env